<div class="left side-menu" xmlns:th="http://www.thymeleaf.org">
	<button type="button"
		class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
		<i class="mdi mdi-close"></i>
	</button>
	<div class="topbar-left">
		<div class="text-center bg-logo">
			<a href="/" class="logo"> <img src="/assets/img/logo-light.png">
			</a>
		</div>
	</div>
	<div class="sidebar-inner slimscrollleft">
		<div id="sidebar-menu" style="padding-bottom: 0px;">
			<ul>
				<li>
					<a th:href="@{/admin}" class="waves-effect">
						<i class="dripicons-device-desktop"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li>
					<a th:href="@{|/users/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>Users</span>
					</a>
				</li>
				<li>
					<a th:href="@{|/roles/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>Roles</span>
					</a>
				</li>
<!-- 				<li> -->
<!-- 					<a th:href="@{|/auth/index|}" class="waves-effect"> -->
<!-- 						<i class="dripicons-to-do"></i> -->
<!-- 						<span>Authorities</span> -->
<!-- 					</a> -->
<!-- 				</li> -->
				<li>
					<a th:href="@{|/blogs/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>Blogs</span>
					</a>
				</li>
				<li>
					<a th:href="@{|/bookings/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>Bookings</span>
					</a>
				</li>
				<li>
					<a th:href="@{|/bookingrooms/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>Booking Room</span>
					</a>
				</li>
				<li>
					<a th:href="@{|/feedback/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>FeedBack</span>
					</a>
				</li>
				<li>
					<a th:href="@{|/hotels/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>Hotels</span>
					</a>
				</li>
				<li>
					<a th:href="@{|/images/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>Images</span>
					</a>
				</li>
				<li>
					<a th:href="@{|/rooms/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>Rooms</span>
					</a>
				</li>
				<li>
					<a th:href="@{|/serviceRooms/index|}" class="waves-effect">
						<i class="dripicons-to-do"></i>
						<span>Service Room</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>