<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>Julie - Admin Dashboard</title>
<link rel="shortcut icon" href="/assetss/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="/assetss/css/style.css">
</head>

<body class="fixed-left">
	<div id="preloader">
		<div id="status">
			<div class="spinner"></div>
		</div>
	</div>
	<div id="wrapper">

		<!--  <div ng-include="'/admin/_sidebar.html'"></div>-->
		<div th:replace="/admin/_sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div th:replace="'/admin/_topbar.html'"></div>
				<div class="page-content-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<div class="page-title-box">
									<div class="btn-group float-right">
										<ol class="breadcrumb hide-phone p-0 m-0">
											<li class="breadcrumb-item"><a href="#">Julie</a></li>
											<li class="breadcrumb-item active">Dashboard</li>
										</ol>
									</div>
									<h4 class="page-title">Dashboard</h4>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-3">
										<div class="card">
											<div class="card-body">
												<div class="icon-contain">
													<div class="row">
														<div class="col-2 align-self-center">
															<i class="fas fa-tasks text-gradient-success"></i>
														</div>
														<div class="col-10 text-right">
															<h5 class="mt-0 mb-1" th:text="${countHotel}"></h5>
															<p class="mb-0 font-12 text-muted">Hotels</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="card">
											<div class="card-body">
												<div class="icon-contain">
													<div class="row">
														<div class="col-2 align-self-center">
															<i class="fas fa-tasks text-gradient-success"></i>
														</div>
														<div class="col-10 text-right">
															<h5 class="mt-0 mb-1" th:text="${countRoomType}"></h5>
															<p class="mb-0 font-12 text-muted">Room Type</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="card">
											<div class="card-body justify-content-center">
												<div class="icon-contain">
													<div class="row">
														<div class="col-2 align-self-center">
															<i class="far fa-gem text-gradient-danger"></i>
														</div>
														<div class="col-10 text-right">
															<h5 class="mt-0 mb-1" th:text="${countUser}"></h5>
															<p class="mb-0 font-12 text-muted">Account</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="card">
											<div class="card-body">
												<div class="icon-contain">
													<div class="row">
														<div class="col-2 align-self-center">
															<i class="fas fa-users text-gradient-warning"></i>
														</div>
														<div class="col-10 text-right">
															<h5 class="mt-0 mb-1" th:text="${countRole}"></h5>
															<p class="mb-0 font-12 text-muted">Roles</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="card">
											<div class="card-body">
												<div class="icon-contain">
													<div class="row">
														<div class="col-2 align-self-center">
															<i class="fas fa-users text-gradient-warning"></i>
														</div>
														<div class="col-10 text-right">
															<h5 class="mt-0 mb-1" th:text="${countBlog}"></h5>
															<p class="mb-0 font-12 text-muted">Blogs</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="card">
											<div class="card-body">
												<div class="icon-contain">
													<div class="row">
														<div class="col-2 align-self-center">
															<i class="fas fa-users text-gradient-warning"></i>
														</div>
														<div class="col-10 text-right">
															<h5 class="mt-0 mb-1" th:text="${countPlace}"></h5>
															<p class="mb-0 font-12 text-muted">Places</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="card ">
											<div class="card-body">
												<div class="icon-contain">
													<div class="row">
														<div class="col-2 align-self-center">
															<i class="fas fa-database text-gradient-primary"></i>
														</div>
														<div class="col-10 text-right">
															<h5 class="mt-0 mb-1">$15,421.50</h5>
															<p class="mb-0 font-12 text-muted">Revenue</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-4">
								<div class="card">
									<div class="card-body">
										<h5 class="header-title pb-3 mt-0">New Account</h5>
										<div class="table-responsive boxscroll"
											style="overflow: hidden; outline: none;">
											<div class="media">
												<img src="/assetss/img/avatar.jpg"
													class="thumb-md rounded-circle">
												<div class="media-body ml-2">
													<p class="mb-0">Roy Saunders</p>
													<span class="font-12 text-muted">CEO of facebook</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6">
								<div class="card">
									<div class="card-body">
										<h5 class="header-title mb-4 mt-0">Revenue</h5>
										<h4 class="mb-4">$15,421.50</h4>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="d-sm-flex align-self-center">
											<img src="/assetss/img/code.svg" alt="" class="" height="100">
											<div class="media-body ml-3">
												<h6>Code Confirmed</h6>
												<p class="text-muted font-13 ">Contrary to popular
													belief, generators on Lorem Ipsum is not simply random
													text.</p>
												<a href="#" class="btn btn-gradient-secondary">Confirm</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4  col-lg-6">
								<div class="card timeline-card">
									<div class="card-body p-0">
										<div class="bg-gradient2 text-white text-center py-3 mb-4">
											<p class="mb-0 font-18">
												<i class="mdi mdi-clock-outline font-20"></i> This Week's
												Activity
											</p>
										</div>
									</div>
									<div class="card-body boxscroll">
										<div class="timeline">
											<div class="entry">
												<div class="title">
													<h6>9/ Oct</h6>
												</div>
												<div class="body">
													<p>
														All the Lorem Ipsum generators on the predefined chunks
														as... <a href="#" class="text-primary"> Read More</a>
													</p>
												</div>
											</div>
											<div class="entry">
												<div class="title">
													<h6>8/ Oct</h6>
												</div>
												<div class="body">
													<p>
														Contrary to popular belief, Lorem Ipsum is not simply
														random text..... <a href="#" class="text-primary">
															Read More</a>
													</p>
												</div>
											</div>
											<div class="entry">
												<div class="title">
													<h6>7/ Oct</h6>
												</div>
												<div class="body">
													<p class="pb-1">
														Many desktop publishing packages and web page editors
														now..... <a href="#" class="text-primary"> Read More</a>
													</p>
												</div>
											</div>
											<div class="entry">
												<div class="title">
													<h6>6/ Oct</h6>
												</div>
												<div class="body">
													<p class="pb-1 mb-0">
														All the Lorem Ipsum generators on the predefined chunks...
														<a href="#" class="text-primary"> Read More</a>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				Copyright © 2022 <b>Julie</b>. All rights reserved.
			</footer>
		</div>
	</div>

	<script src="/assetss/js/jquery.min.js"></script>
	<script src="/assetss/js/popper.min.js"></script>
	<script src="/assetss/js/bootstrap.min.js"></script>
	<script src="/assetss/js/modernizr.min.js"></script>
	<script src="/assetss/js/detect.js"></script>
	<script src="/assetss/js/fastclick.js"></script>
	<script src="/assetss/js/jquery.slimscroll.js"></script>
	<script src="/assetss/js/jquery.blockUI.js"></script>
	<script src="/assetss/js/waves.js"></script>
	<script src="/assetss/js/jquery.nicescroll.js"></script>
	<script src="/assetss/js/jquery.scrollTo.min.js"></script>
	<script src="/assetss/js/sweetalert2.all.min.js"></script>
	<script src="/assetss/js/datatables.min.js"></script>
	<script src="/assetss/js/pdfmake.min.js"></script>
	<script src="/assetss/js/vfs_fonts.js"></script>
	<script src="/assetss/js/app.js"></script>
	<script src="/assetss/js/angular.min.js"></script>
	<script src="/assetss/js/angular-route.min.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>