<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>

        <!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="breadcrumb-area breadcrumb-height" data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item">
                                <h2 class="breadcrumb-heading">Cart Page</h2>
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>Cart Page</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="javascript:void(0)">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="product_remove">remove</th>
                                                <th class="product-thumbnail">images</th>
                                                <th class="cart-product-name">Khách sạn (Phòng)</th>
                                                <th class="product-price">Unit Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="order:${orders}">
                                                <td class="product_remove">
                                                    <a th:href="@{|/hotel/room/order/cart/${order.id}/delete|}" th:if="${order.Bookings.Status == false}">
                                                        <i class="pe-7s-close" data-tippy="Remove" data-tippy-inertia="true"
                                                    data-tippy-animation="shift-away" data-tippy-delay="50"
                                                    data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>
                                                    </a>
                                                </td>
                                                <td class="product-thumbnail">
                                                    <a th:if="${order.Rooms.Images_Room != null}">
                                                        <img th:src="@{'/assetss/img/' + ${order.Rooms.getFirstImage().name}}" alt="Cart Thumbnail">
                                                    </a>
                                                </td>
                                                <td class="product-name"><a th:href="@{'/thong-tin-khach-san/' + ${slugService.convertToSlug(order.Rooms.Hotels.name)} + '/' + ${order.Rooms.Hotels.id}}">[[(${order.Rooms.Hotels.name})]] ([[(${order.Rooms.name})]])</a></td>
                                                <td class="product-price"><span class="amount">$[[(${order.Rooms.price})]]</span></td>
                                                <td class="quantity" th:if="${order.Bookings.Status == false}">
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" th:value="${order.count}" type="text">
                                                        <div class="dec qtybutton">
                                                            <i class="fa fa-minus"></i>
                                                        </div>
                                                        <div class="inc qtybutton">
                                                            <i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="quantity" th:if="${order.Bookings.Status == true}">
                                                    <div style="font-size: 20px;">
                                                        <span th:text="${order.count}"></span>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal"><span class="amount">$[[(${order.count*order.Rooms.price})]]</span></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="coupon-all">
                                            <div class="coupon2" th:if="${bookings.Status == true}">
                                                <input class="button" name="update_cart" value="Update cart" type="submit" disable>
                                            </div>
                                            <div class="coupon2" th:if="${bookings.Status == false}">
                                                <input class="button" name="update_cart" value="Update cart" type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 ml-auto">
                                        <div class="cart-page-total">
                                            <h2>Cart totals</h2>
                                            <ul>
                                                <li>Subtotal <span>$[[(${bookings.calculateTotalCost()})]]</span></li>
                                                <li>Total <span>$[[(${bookings.calculateTotalCost()})]]</span></li>
                                            </ul>
                                            <a th:href="@{/checkout}">Proceed to checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->

</body>

</html>