USE [DataHotel_new]
GO
/****** Object:  Table [dbo].[Authorities]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorities](
	[Id] [int] NOT NULL,
	[cmt] [varchar](20) NOT NULL,
	[role_id] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blogs]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blogs](
	[id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[content] [text] NOT NULL,
	[short_description] [varchar](255) NOT NULL,
	[author] [varchar](100) NULL,
	[image_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking_room]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_room](
	[bookingRoom_id] [int] NOT NULL,
	[booking_id] [int] NULL,
	[room_id] [int] NULL,
	[Count] [int] NULL,
	[hotel_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingRoom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[booking_id] [int] NOT NULL,
	[cmt] [varchar](20) NULL,
	[booking_date] [date] NULL,
	[checkin_date] [date] NULL,
	[checkout_date] [date] NULL,
	[payment_status] [bit] NULL,
	[payment_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feed_back_id] [int] NOT NULL,
	[description] [nvarchar](255) NULL,
	[room_id] [int] NULL,
	[cmt] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[feed_back_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[hotel_id] [int] NOT NULL,
	[hotel_name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](200) NULL,
	[phone_number] [varchar](20) NULL,
	[Email_hotel] [varchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[place_id] [int] NULL,
	[hotel_type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTELTYPES]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTELTYPES](
	[hotel_type_id] [int] NOT NULL,
	[hotel_level] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hotel_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[image_id] [int] NOT NULL,
	[img_name] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[img_hotel]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[img_hotel](
	[hotel_img_id] [int] NOT NULL,
	[hotel_id] [int] NULL,
	[image_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hotel_img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[img_Rooms]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[img_Rooms](
	[room_img_id] [int] NOT NULL,
	[room_id] [int] NULL,
	[image_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] NOT NULL,
	[payment_date] [date] NULL,
	[total_amount] [decimal](10, 2) NULL,
	[payment_method] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[place_id] [int] NOT NULL,
	[place_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[place_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[room_id] [int] NOT NULL,
	[hotel_id] [int] NOT NULL,
	[room_type_id] [int] NULL,
	[roomname] [varchar](10) NULL,
	[rating] [float] NULL,
	[price] [decimal](10, 2) NULL,
	[status] [nvarchar](50) NULL,
	[description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[room_type_id] [int] NOT NULL,
	[room_type_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRooms]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRooms](
	[ServiceRooms_Id] [int] NOT NULL,
	[room_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceRooms_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[service_id] [int] NOT NULL,
	[service_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/28/2023 1:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [nvarchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[cmt] [varchar](20) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[phone_number] [varchar](20) NOT NULL,
	[Token] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cmt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Authorities] ([Id], [cmt], [role_id]) VALUES (1, N'081456789370', N'DIRE')
INSERT [dbo].[Authorities] ([Id], [cmt], [role_id]) VALUES (2, N'081456789375', N'DIRE')
INSERT [dbo].[Authorities] ([Id], [cmt], [role_id]) VALUES (3, N'012456789375', N'DIRE')
GO
INSERT [dbo].[HOTELTYPES] ([hotel_type_id], [hotel_level]) VALUES (1, 0)
INSERT [dbo].[HOTELTYPES] ([hotel_type_id], [hotel_level]) VALUES (2, 1)
INSERT [dbo].[HOTELTYPES] ([hotel_type_id], [hotel_level]) VALUES (3, 2)
GO
INSERT [dbo].[Images] ([image_id], [img_name]) VALUES (757, N'Hotel253_1.png')
INSERT [dbo].[Images] ([image_id], [img_name]) VALUES (758, N'Hotel253_2.png')
INSERT [dbo].[Images] ([image_id], [img_name]) VALUES (759, N'Hotel253_3.png')
GO
INSERT [dbo].[img_hotel] ([hotel_img_id], [hotel_id], [image_id]) VALUES (757, 253, 757)
INSERT [dbo].[img_hotel] ([hotel_img_id], [hotel_id], [image_id]) VALUES (758, 253, 758)
INSERT [dbo].[img_hotel] ([hotel_img_id], [hotel_id], [image_id]) VALUES (759, 253, 759)
GO
INSERT [dbo].[Place] ([place_id], [place_name]) VALUES (1, N'Đà Lạt')
INSERT [dbo].[Place] ([place_id], [place_name]) VALUES (2, N'Nha Trang')
INSERT [dbo].[Place] ([place_id], [place_name]) VALUES (3, N'Phan Thiết')
GO
INSERT [dbo].[Roles] ([role_id], [Name]) VALUES (N'CUST', N'Customers')
INSERT [dbo].[Roles] ([role_id], [Name]) VALUES (N'DIRE', N'Directors')
INSERT [dbo].[Roles] ([role_id], [Name]) VALUES (N'STAF', N'Staffs')
GO
INSERT [dbo].[RoomTypes] ([room_type_id], [room_type_name]) VALUES (1, N'Single room')
INSERT [dbo].[RoomTypes] ([room_type_id], [room_type_name]) VALUES (2, N'Twin room')
INSERT [dbo].[RoomTypes] ([room_type_id], [room_type_name]) VALUES (3, N'Double room')
GO
INSERT [dbo].[Services] ([service_id], [service_name]) VALUES (1, N'Wifi-Free')
INSERT [dbo].[Services] ([service_id], [service_name]) VALUES (2, N'Bảo vệ 24h')
INSERT [dbo].[Services] ([service_id], [service_name]) VALUES (3, N'Dịch vụ giặt ủi')
GO
INSERT [dbo].[Users] ([username], [email], [cmt], [password], [phone_number], [Token]) VALUES (N'Nguyễn Ngọc Minh Trang', N'trangnnm123@gmail.com', N'012456789375', N'123', N'0345678901', N'token')
INSERT [dbo].[Users] ([username], [email], [cmt], [password], [phone_number], [Token]) VALUES (N'Nguyễn Hữu Hậu', N'haunh123@gmail.com', N'032456789375', N'123', N'0346789012', N'token')
INSERT [dbo].[Users] ([username], [email], [cmt], [password], [phone_number], [Token]) VALUES (N'Nguyễn Hoàng Tuấn', N'nguyenhoang.tuan2407@gmail.com', N'081456789370', N'123', N'0234567890', N'token')
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Authorities]  WITH CHECK ADD FOREIGN KEY([cmt])
REFERENCES [dbo].[Users] ([cmt])
GO
ALTER TABLE [dbo].[blogs]  WITH CHECK ADD FOREIGN KEY([image_id])
REFERENCES [dbo].[Images] ([image_id])
GO
ALTER TABLE [dbo].[Booking_room]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([booking_id])
GO
ALTER TABLE [dbo].[Booking_room]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[Hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[Booking_room]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([room_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([cmt])
REFERENCES [dbo].[Users] ([cmt])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payments] ([payment_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([cmt])
REFERENCES [dbo].[Users] ([cmt])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([room_id])
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD FOREIGN KEY([hotel_type_id])
REFERENCES [dbo].[HOTELTYPES] ([hotel_type_id])
GO
ALTER TABLE [dbo].[Hotels]  WITH CHECK ADD FOREIGN KEY([place_id])
REFERENCES [dbo].[Place] ([place_id])
GO
ALTER TABLE [dbo].[img_hotel]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[Hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[img_hotel]  WITH CHECK ADD FOREIGN KEY([image_id])
REFERENCES [dbo].[Images] ([image_id])
GO
ALTER TABLE [dbo].[img_Rooms]  WITH CHECK ADD FOREIGN KEY([image_id])
REFERENCES [dbo].[Images] ([image_id])
GO
ALTER TABLE [dbo].[img_Rooms]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([room_id])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[Hotels] ([hotel_id])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([room_type_id])
REFERENCES [dbo].[RoomTypes] ([room_type_id])
GO
ALTER TABLE [dbo].[ServiceRooms]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[Rooms] ([room_id])
GO
ALTER TABLE [dbo].[ServiceRooms]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([service_id])
GO
