<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>Julie - Admin Dashboard</title>
<link rel="shortcut icon" href="/assetss/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="/assetss/css/style.css">
</head>

<body class="fixed-left">
	<div id="preloader">
		<div id="status">
			<div class="spinner"></div>
		</div>
	</div>
	<div id="wrapper">


		<!--  <div ng-include="'/admin/_sidebar.html'"></div>-->
		<div th:replace="/admin/_sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div th:replace="'/admin/_topbar.html'"></div>
				<div class="page-content-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<div class="page-title-box">
									<div class="btn-group float-right">
										<ol class="breadcrumb hide-phone p-0 m-0">
											<li class="breadcrumb-item"><a href="#">Julie</a></li>
											<li class="breadcrumb-item active">Roles</li>
										</ol>
									</div>
									<h4 class="page-title">Roles</h4>
								</div>
							</div>
						</div>
						<nav>
							<div class="nav nav-tabs">
								 <a th:href="@{/roles/form}" class="nav-link"
									type="button">EDITION</a> 
									<a href="javascript:(0);"
									class="nav-link active" data-toggle="tab" data-target="#list"
									type="button" role="tab" aria-selected="true">LISTS</a>
							</div>
						</nav>
						<div class="row mx-0 bg-white">
							<div class="col-12 py-3">
								<table class="table table-collapse table-bordered">
									<thead>
										<tr>
											<th>roleId</th>
											<th>roleName</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="item:${roles}">
											<td class="align-center">[[(${item.id})]]</td>
											<td class="align-center">[[(${item.name})]]</td>
											<td class="align-center">
												<div class="btn-group btn-group-xs">
													<button class="btn btn-icon">
														<a th:href="@{|/roles/${item.id}|}"><i class="fa fa-xs fa-pen"></i>
														</a>
														
													</button>
													<button class="btn btn-danger">
														<a th:href="@{/roles/delete/{id}(id=${item.id})}"><i class="fa fa-xs fa-times"></i>
														</a>
													</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-header text-center"
							th:if="${roles.totalPages > 1}">
							<a th:href="@{/roles/index(p=${roles.number - 1})}"
								th:if="${roles.hasPrevious()}">
								<button class="btn btn-primary">
									<i class="fas fa-arrow-left"></i>
								</button>
							</a> <a
								th:each="pageNumber : ${#numbers.sequence(0, roles.totalPages - 1)}"
								th:href="@{/roles/index(p=${pageNumber})}"
								th:class="${pageNumber == roles.number ? 'btn btn-success active' : 'btn btn-success'}">
								<span th:text="${pageNumber + 1}"></span>
							</a> <a th:href="@{/roles/index(p=${roles.number + 1})}"
								th:if="${roles.hasNext()}">
								<button class="btn btn-primary">
									<i class="fas fa-arrow-right"></i>
								</button>
							</a>
						</div>
						<!--  <script src="/assetss/js/init.js"></script>-->
					</div>
				</div>

				<footer class="footer">
					Copyright © 2022 <b>Julie</b>. All rights reserved.
				</footer>
			</div>
		</div>
	</div>
        

	<script src="/assetss/js/jquery.min.js"></script>
	<script src="/assetss/js/popper.min.js"></script>
	<script src="/assetss/js/bootstrap.min.js"></script>
	<script src="/assetss/js/modernizr.min.js"></script>
	<script src="/assetss/js/detect.js"></script>
	<script src="/assetss/js/fastclick.js"></script>
	<script src="/assetss/js/jquery.slimscroll.js"></script>
	<script src="/assetss/js/jquery.blockUI.js"></script>
	<script src="/assetss/js/waves.js"></script>
	<script src="/assetss/js/jquery.nicescroll.js"></script>
	<script src="/assetss/js/jquery.scrollTo.min.js"></script>
	<script src="/assetss/js/sweetalert2.all.min.js"></script>
	<script src="/assetss/js/datatables.min.js"></script>
	<script src="/assetss/js/pdfmake.min.js"></script>
	<script src="/assetss/js/vfs_fonts.js"></script>
	<script src="/assetss/js/app.js"></script>
	<script src="/assetss/js/angular.min.js"></script>
	<script src="/assetss/js/angular-route.min.js"></script>

	<script src="assets/js/main.js"></script>
</body>

</html>