<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<!-- Begin Main Content Area -->
	<main class="main-content">
		<div class="breadcrumb-area breadcrumb-height"
			data-bg-image="assets/images/breadcrumb/bg/1-1-1919x388.jpg">
			<div class="container h-100">
				<div class="row h-100">
					<div class="col-lg-12">
						<div class="breadcrumb-item">
							<h2 class="breadcrumb-heading">Shop</h2>
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>Shop Default</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="shop-area section-space-y-axis-100">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-4 order-2 order-lg-1 pt-5 pt-lg-0 ">
						<div class="widgets-searchbox">
							<form th:action="@{/search}" method="post" class="sidebar-area">
								<div class="widgets-item">
									<input class="input-field" type="text" placeholder="Search">
								</div>
								<!-- Hotel Types -->
								<div class="widgets-item pt-0">
									<h2 class="widgets-title mb-4">Hoteltypes</h2>
									<!-- All -->
									<ul class="widgets-category">
										<li><a> All <span>([[(${counthotel})]])</span>
										</a></li>
										<li><a> <input type="checkbox" name="hotelLevel"
												value="0"> <i class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <span>([[(${countHotelLevel0})]])</span>
										</a></li>
										<li><a> <input type="checkbox" name="hotelLevel"
												value="1"> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <span>([[(${countHotelLevel1})]])</span>
										</a></li>
										<li><a> <input type="checkbox" name="hotelLevel"
												value="2"> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <span>([[(${countHotelLevel2})]])</span>
										</a></li>
										<li><a> <input type="checkbox" name="hotelLevel"
												value="3"> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <i
												class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <span>([[(${countHotelLevel3})]])</span>
										</a></li>
										<li><a> <input type="checkbox" name="hotelLevel"
												value="4"> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="color: #e6e6e6; font-size: 20px;"></i> <span>([[(${countHotelLevel4})]])</span>
										</a></li>
										<li><a> <input type="checkbox" name="hotelLevel"
												value="5"> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <i class="fa-solid fa-star"
												style="font-size: 20px;"></i> <span>([[(${countHotelLevel5})]])</span>
										</a></li>
									</ul>
								</div>

								<!-- Services -->
								<div class="widgets-item">
									<h2 class="widgets-title mb-4">Services</h2>
									<ul class="widgets-category">
										<li th:each="service : ${services}"><label> <input
												type="checkbox" name="services" th:value="${service.id}">
												[[${service.name}]]
										</label></li>
									</ul>
								</div>

								<!-- Room Types -->
								<div class="widgets-item">
									<h2 class="widgets-title mb-4">Room Types</h2>
									<ul class="widgets-tag">
										<li th:each="roomType : ${roomtype}"><label> <input
												type="checkbox" name="roomTypes" th:value="${roomType.id}"
												th:checked="${roomTypeIds != null and roomTypeIds.contains(roomType.id)}">
												[[${roomType.name}]]
										</label></li>
									</ul>
								</div>

								<!-- Price Filter (or other relevant fields) -->
								<div class="widgets-item widgets-filter">
									<h2 class="widgets-title mb-4">Price Filter</h2>
									<div class="price-filter">
										<input type="text" class="pronia-range-slider"
											name="pronia-range-slider" value="" data-type="double"
											data-min="16" data-from="16" data-to="300" data-max="350"
											data-grid="false" />
									</div>
								</div>

								<!-- Other sidebar content -->

								<!-- Submit Button -->
								<button class="btn btn-custom-size lg-size btn-pronia-primary"
									type="submit">Search</button>
							</form>
						</div>
					</div>
					<div class="col-xl-9 col-lg-8 order-1 order-lg-2">
						<div class="product-topbar">
							<ul>
								<li class="page-count"><span>12</span> Product Found of <span>30</span>
								</li>
								<li class="product-view-wrap">
									<ul class="nav" role="tablist">
										<li class="grid-view" role="presentation"><a
											class="active" id="grid-view-tab" data-bs-toggle="tab"
											href="#grid-view" role="tab" aria-selected="true"> <i
												class="fa fa-th"></i>
										</a></li>
										<li class="list-view" role="presentation"><a
											id="list-view-tab" data-bs-toggle="tab" href="#list-view"
											role="tab" aria-selected="true"> <i class="fa fa-th-list"></i>
										</a></li>
									</ul>
								</li>
								<li class="short"><select class="nice-select">
										<option value="1">Sort by Default</option>
										<option value="2">Sort by Popularity</option>
										<option value="3">Sort by Rated</option>
										<option value="4">Sort by Latest</option>
										<option value="5">Sort by High Price</option>
										<option value="6">Sort by Low Price</option>
								</select></li>
							</ul>
						</div>
						<!-- <div>[[(${count})]]</div> -->
						<div class="tab-content">
							<div class="tab-pane fade show active" id="grid-view"
								role="tabpanel" aria-labelledby="grid-view-tab">
								<div class="product-grid-view row g-y-20">
									<div class="col-md-4 col-sm-6" th:each="a:${items}">
										<div class="product-item">
											<div class="product-img">
												<a th:href="@{'/thong-tin-khach-san/' + ${slugService.convertToSlug(a.name)} + '/' + ${a.id}}"> <img
													class="primary-img"
													th:src="@{'/assetss/img/' + ${a.getFirstImage().name}}"
													alt="Product Images"
													style="height: 200px"> 
												</a>
												<div class="product-add-action">
													<ul>
														<li><a href="wishlist.html"
															data-tippy="Add to wishlist" data-tippy-inertia="true"
															data-tippy-animation="shift-away" data-tippy-delay="50"
															data-tippy-arrow="true" data-tippy-theme="sharpborder">
																<i class="pe-7s-like"></i>
														</a></li>
														<li class="quuickview-btn" data-bs-toggle="modal"
															data-bs-target="#quickModal"><a href="#"
															data-tippy="Quickview" data-tippy-inertia="true"
															data-tippy-animation="shift-away" data-tippy-delay="50"
															data-tippy-arrow="true" data-tippy-theme="sharpborder">
																<i class="pe-7s-look"></i>
														</a></li>
														<li><a href="cart.html" data-tippy="Add to cart"
															data-tippy-inertia="true"
															data-tippy-animation="shift-away" data-tippy-delay="50"
															data-tippy-arrow="true" data-tippy-theme="sharpborder">
																<i class="pe-7s-cart"></i>
														</a></li>
													</ul>
												</div>
											</div>
											<div class="product-content">
												<a class="product-name" th:href="@{'/thong-tin-khach-san/' + ${slugService.convertToSlug(a.name)} + '/' + ${a.id}}">[[(${a.name})]]</a>
												<div class="price-box pb-1">
													<span class="new-price">$23.45</span>
												</div>
												<div class="rating-box">
													<ul th:if="${a.Level == 1}">
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
													</ul>
													<ul th:if="${a.Level == 2}">
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
													</ul>
													<ul th:if="${a.Level == 3}">
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
													</ul>
													<ul th:if="${a.Level == 4}">
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6;"></i></li>
													</ul>
													<ul th:if="${a.Level == 5}">
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
													</ul>
													<ul th:if="${a.Level == 0}">
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6; font-size: 20px;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6; font-size: 20px;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6; font-size: 20px;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6; font-size: 20px;"></i></li>
														<li><i class="fa-solid fa-star"
															style="color: #e6e6e6; font-size: 20px;"></i></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="list-view" role="tabpanel"
								aria-labelledby="list-view-tab">
								<div class="product-list-view row g-y-30">
									<div class="col-12">
										<div class="product-item">
											<div class="product-img">
												<a href="single-product-variable.html"> <img
													class="primary-img"
													src="assets/images/product/medium-size/1-1-270x300.jpg"
													alt="Product Images"> <img class="secondary-img"
													src="assets/images/product/medium-size/1-2-270x300.jpg"
													alt="Product Images">
												</a>
											</div>
											<div class="product-content">
												<a class="product-name" href="single-product-variable.html">American
													Marigold</a>
												<div class="price-box pb-1">
													<span class="new-price">$23.45</span>
												</div>
												<div class="rating-box">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
													</ul>
												</div>
												<p class="short-desc mb-0">Proin nec ligula dolor.
													Mauris mollis turpis vitae viverra viverra. Mauris at lacus
													commodo, dictum eros in, interdum diam. Sed lorem orci,
													maximus nec efficitur, mattis sed tortor. Voluptates
													repudiandae nulla rhoncus varius eget id eros.</p>
												<div class="product-add-action">
													<ul>
														<li><a href="wishlist.html"
															data-tippy="Add to wishlist" data-tippy-inertia="true"
															data-tippy-animation="shift-away" data-tippy-delay="50"
															data-tippy-arrow="true" data-tippy-theme="sharpborder">
																<i class="pe-7s-like"></i>
														</a></li>
														<li class="quuickview-btn" data-bs-toggle="modal"
															data-bs-target="#quickModal"><a href="#"
															data-tippy="Quickview" data-tippy-inertia="true"
															data-tippy-animation="shift-away" data-tippy-delay="50"
															data-tippy-arrow="true" data-tippy-theme="sharpborder">
																<i class="pe-7s-look"></i>
														</a></li>
														<li><a href="cart.html" data-tippy="Add to cart"
															data-tippy-inertia="true"
															data-tippy-animation="shift-away" data-tippy-delay="50"
															data-tippy-arrow="true" data-tippy-theme="sharpborder">
																<i class="pe-7s-cart"></i>
														</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12" th:each="room:${items}">
										<div class="product-item">
											<div class="product-img">
												<a href="single-product-variable.html"> <img
													class="primary-img"
													src="assets/images/product/medium-size/1-2-270x300.jpg"
													alt="Product Images"> <img class="secondary-img"
													src="assets/images/product/medium-size/1-3-270x300.jpg"
													alt="Product Images">
												</a>
											</div>
											<div class="product-content">
												<a class="product-name" href="single-product-variable.html">[[(${room.name})]]</a>
												<div class="price-box pb-1">
													<span class="new-price">$25.45</span>
												</div>
												<div class="rating-box">
													<ul>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
														<li><i class="fa fa-star"></i></li>
													</ul>
												</div>
												<p class="short-desc mb-0">Proin nec ligula dolor.
													Mauris mollis turpis vitae viverra viverra. Mauris at lacus
													commodo, dictum eros in, interdum diam. Sed lorem orci,
													maximus nec efficitur, mattis sed tortor. Voluptates
													repudiandae nulla rhoncus varius eget id eros.</p>
<!-- 												<ul th:each="distinctRoomType : ${#sets.distinct(room.Rooms.![RoomTypes.name])}"> -->
<!-- 													<li>[[(${distinctRoomType})]]</li> -->
<!-- 												</ul> -->
<!-- <div th:each="r : ${room.Rooms}"> -->
<!--     <p th:text="${r.RoomTypes.name}"></p> -->
<!-- </div> -->
<!-- <p th:text="${#sets.distinct(room.Rooms.![RoomTypes.name])}"></p> -->
												<div class="product-add-action">
													<ul>
														<li><a href="wishlist.html"
															data-tippy="Add to wishlist" data-tippy-inertia="true"
															data-tippy-animation="shift-away" data-tippy-delay="50"
															data-tippy-arrow="true" data-tippy-theme="sharpborder">
																<i class="pe-7s-like"></i>
														</a></li>
														<li class="quuickview-btn" data-bs-toggle="modal"
															data-bs-target="#quickModal"><a href="#"
															data-tippy="Quickview" data-tippy-inertia="true"
															data-tippy-animation="shift-away" data-tippy-delay="50"
															data-tippy-arrow="true" data-tippy-theme="sharpborder">
																<i class="pe-7s-look"></i>
														</a></li>
														<li><a href="cart.html" data-tippy="Add to cart"
															data-tippy-inertia="true"
															data-tippy-animation="shift-away" data-tippy-delay="50"
															data-tippy-arrow="true" data-tippy-theme="sharpborder">
																<i class="pe-7s-cart"></i>
														</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="pagination-area">
							<nav aria-label="Page navigation example">
								<ul class="pagination justify-content-center">
									<li class="page-item">
										<!-- Shop All -->
										<ul class="pagination justify-content-center"
											th:if="${place_id == null and level == null and last != null}">
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/lpage=${last}|}" aria-label="Last"><i
													class="fa-solid fa-backward-fast"></i></a></li>
											<!-- <div>[[(${start})]]</div>-->
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/lpage=${last}|}">[[(${last})]]</a></li>
										</ul>
										<ul class="pagination justify-content-center"
											th:if="${place_id == null and level == null and last == null}"
											disabled>
											<!--<li class="page-item"><a class="page-link"
												aria-label="Last"><i
													class="fa-solid fa-backward-fast"></i></a></li> -->
											<!-- <div>[[(${start})]]</div>-->
											<!-- <li class="page-item"><a class="page-link"
												th:href="@{|/hotel/lpage=${last}|}">[[(${last})]]</a></li> -->
										</ul> <!-- Shop By Place -->
										<ul class="pagination justify-content-center"
											th:if="${place_id != null and level == null and last != null}">
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/place=${place_id}/lpage=${last}|}"
												aria-label="Last"><i class="fa-solid fa-backward-fast"></i></a></li>
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/place=${place_id}/lpage=${last}|}">[[(${last})]]</a></li>
										</ul>
										<ul class="pagination justify-content-center"
											th:if="${place_id != null and last == null}" disabled>
											<!--<li class="page-item"><a class="page-link"
												aria-label="Last"><i
													class="fa-solid fa-backward-fast"></i></a></li>-->
											<!-- <div>[[(${start})]]</div>-->
											<!-- <li class="page-item"><a class="page-link"
												th:href="@{|/hotel/lpage=${last}|}">[[(${last})]]</a></li> -->
										</ul> <!-- Shop By Level -->
										<ul class="pagination justify-content-center"
											th:if="${place_id == null and level != null and last != null}">
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/HotelType=${level}/npage=${last}|}"
												aria-label="Last"><i class="fa-solid fa-backward-fast"></i></a></li>
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/HotelType=${level}/npage=${last}|}">[[(${last})]]</a></li>
										</ul>
										<ul class="pagination justify-content-center"
											th:if="${place_id == null and level != null and last == null}"
											disabled>
											<!-- <li class="page-item"><a class="page-link"
												aria-label="Last"><i
													class="fa-solid fa-backward-fast"></i></a></li> -->
											<!-- <div>[[(${start})]]</div>-->
											<!-- <li class="page-item"><a class="page-link"
												th:href="@{|/hotel/lpage=${last}|}">[[(${last})]]</a></li> -->
										</ul> <!-- Shop By Level and Place -->
										<ul class="pagination justify-content-center"
											th:if="${place_id != null and level != null and last != null}">
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/HotelType=${level}%place=${place_id}/npage=${last}|}"
												aria-label="Last"><i class="fa-solid fa-backward-fast"></i></a></li>
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/HotelType=${level}%place=${place_id}/npage=${last}|}">[[(${last})]]</a></li>
										</ul>
										<ul class="pagination justify-content-center"
											th:if="${place_id != null and level != null and last == null}"
											disabled>
											<!-- <li class="page-item"><a class="page-link"
												aria-label="Last"><i
													class="fa-solid fa-backward-fast"></i></a></li> -->
											<!-- <div>[[(${start})]]</div>-->
											<!-- <li class="page-item"><a class="page-link"
												th:href="@{|/hotel/lpage=${last}|}">[[(${last})]]</a></li> -->
										</ul> <!-- Shop By Service -->
										<ul class="pagination justify-content-center"
											th:if="${place_id == null and level == null and service != null and last != null}">
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/RoomType=${level}/npage=${last}|}"
												aria-label="Last"><i class="fa-solid fa-backward-fast"></i></a></li>
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/HotelType=${level}/npage=${last}|}">[[(${last})]]</a></li>
										</ul>
										<ul class="pagination justify-content-center"
											th:if="${level != null and last == null}" disabled>
											<!-- <li class="page-item"><a class="page-link"
												aria-label="Last"><i
													class="fa-solid fa-backward-fast"></i></a></li> -->
											<!-- <div>[[(${start})]]</div>-->
											<!-- <li class="page-item"><a class="page-link"
												th:href="@{|/hotel/lpage=${last}|}">[[(${last})]]</a></li> -->
										</ul>
									</li>

									<li class="page-item active"><div class="page-link">[[(${start})]]</div></li>

									<li class="page-item">
										<!-- Shop All -->
										<ul class="pagination justify-content-center"
											th:if="${place_id == null and level == null and next != null}">
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/npage=${next}|}">[[(${next})]]</a></li>
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/npage=${next}|}" aria-label="Next"><i
													class="fa-solid fa-forward-fast"></i></a></li>
										</ul>
										<ul class="pagination justify-content-center"
											th:if="${place_id == null and level == null and next == null}"
											disabled>
											<!-- <li class="page-item"><a class="page-link"
												th:href="@{|/hotel/npage=${next}|}">[[(${next})]]</a></li> -->
											<!--<li class="page-item"><a class="page-link"
												aria-label="Next"><i
													class="fa-solid fa-forward-fast"></i></a></li>-->
										</ul> <!-- Shop By level -->
										<ul class="pagination justify-content-center"
											th:if="${place_id != null and level == null and next != null}">
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/place=${place_id}/npage=${next}|}">[[(${next})]]</a></li>
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/place=${place_id}/npage=${next}|}"
												aria-label="Next"><i class="fa-solid fa-forward-fast"></i></a></li>
										</ul>
										<ul class="pagination justify-content-center"
											th:if="${place_id != null and level == null and next == null}"
											disabled>
											<!-- <li class="page-item"><a class="page-link"
												th:href="@{|/hotel/place=${place_id}/npage=${next}|}">[[(${next})]]</a></li> -->
											<!-- <li class="page-item"><a class="page-link"
												aria-label="Next"><i
													class="fa-solid fa-forward-fast"></i></a></li> -->
										</ul> <!-- Shop By Place -->
										<ul class="pagination justify-content-center"
											th:if="${level != null and place_id == null and next != null}">
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/HotelType=${level}/npage=${next}|}">[[(${next})]]</a></li>
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/HotelType=${level}/npage=${next}|}"
												aria-label="Next"><i class="fa-solid fa-forward-fast"></i></a></li>
										</ul>
										<ul class="pagination justify-content-center"
											th:if="${place_id != null and level == null and next == null}"
											disabled>
											<!-- <li class="page-item"><a class="page-link"
												th:href="@{|/hotel/place=${place_id}/npage=${next}|}">[[(${next})]]</a></li> -->
											<!-- <li class="page-item"><a class="page-link"
												aria-label="Next"><i
													class="fa-solid fa-forward-fast"></i></a></li> -->
										</ul> <!-- Shop By Level and Place -->
										<ul class="pagination justify-content-center"
											th:if="${place_id != null and level != null and next != null}">
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/HotelType=${level}/npage=${next}|}">[[(${next})]]</a></li>
											<li class="page-item"><a class="page-link"
												th:href="@{|/hotel/HotelType=${level}/npage=${next}|}"
												aria-label="Next"><i class="fa-solid fa-forward-fast"></i></a></li>
										</ul>
										<ul class="pagination justify-content-center"
											th:if="${place_id != null and level != null and next == null}"
											disabled>
											<!-- <li class="page-item"><a class="page-link"
												th:href="@{|/hotel/place=${place_id}/npage=${next}|}">[[(${next})]]</a></li> -->
											<!-- <li class="page-item"><a class="page-link"
												aria-label="Next"><i
													class="fa-solid fa-forward-fast"></i></a></li> -->
										</ul>
									</li>

								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- Main Content Area End Here -->

</body>

</html>