<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>Julie - Admin Dashboard</title>
<link rel="shortcut icon" href="/assetss/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="/assetss/css/style.css">
</head>

<body class="fixed-left">
	<div id="preloader">
		<div id="status">
			<div class="spinner"></div>
		</div>
	</div>
	<div id="wrapper">

		<!--  <div ng-include="'/admin/_sidebar.html'"></div>-->
		<div th:replace="/admin/_sidebar.html"></div>
		<div class="content-page">
			<div class="content">
				<div th:replace="'/admin/_topbar.html'"></div>
				<div class="page-content-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<div class="page-title-box">
									<div class="btn-group float-right">
										<ol class="breadcrumb hide-phone p-0 m-0">
											<li class="breadcrumb-item"><a href="#">Julie</a></li>
											<li class="breadcrumb-item active">Service Room</li>
										</ol>
									</div>
									<h4 class="page-title">Service Room</h4>
								</div>
							</div>
						</div>
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a class="nav-link active" data-toggle="tab" type="button"
									role="tab" aria-selected="false">EDITION</a> 
									<a th:href="@{/serviceRooms/index}" class="nav-link" type="button">LISTS SERVICE ROOM</a>
									<a th:href="@{/services/index}" class="nav-link" type="button">LIST SERVICE</a> 
							</div>
						</nav>
						<div class="row mx-0 bg-white">
							<div class="col-md-4 text-center">
								<span ng-if="form.image == null"> <img
									ng-src="{{'/assets/images/cloud-upload.jpg'}}"
									style="width: 80%; margin-top: 5rem">
								</span> <span ng-if="form.image != null"> <img
									ng-src="{{'/assets/images/'+form.image}}"
									style="width: 80%; margin-top: 5rem">
								</span>
							</div>
							<div class="col-md-8">
								<form th:action="@{/serviceRooms/update}" method="post"
									th:object="${serviceRooms}" class="form p-3">
									<div class="form-group row">
										<label for="id" class="form-label">serviceRoomId</label> <input
											type="text" class="form-control" id="id" th:field="*{id}"
											placeholder="Enter ID">
									</div>
									<div class="form-group row">
										<label for="name" class="form-label">serviceRoomName</label> <input
											type="text" class="form-control" id="serviceRoomName"
											th:field="*{Rooms.name}" placeholder="Enter serviceRoomName">
									</div>
									<div class="form-group row">
										<label for="name" class="form-label">serviceName</label> <input
											type="text" class="form-control" id="serviceId"
											th:field="*{Services.name}" placeholder="Enter serviceName">
									</div>


									<div class="form-group row">
										<button type="submit" class="btn btn-primary"
											th:utext="${serviceRooms.id} ? 'Update' : 'Create'">
											<i class="fas fa-save"></i> Submit
										</button>
										<a th:href="@{/serviceRooms}" class="btn btn-secondary"> <i
											class="fas fa-redo"></i> Reset
										</a> <span th:if="${serviceRooms.id}"> <a
											th:href="@{/serviceRooms/delete/{id}(id=${serviceRooms.id})}"
											class="btn btn-danger"> <i class="fas fa-trash"></i>
												Delete
										</a>
										</span>
									</div>
								</form>


							</div>
						</div>
						<div class="card-header text-center">
							<button type="button" class="btn btn-primary"
								onclick="createForm()">
								<i class="fas fa-plus"></i> Create
							</button>
							<button type="submit" class="btn btn-success">
								<i class="far fa-save"></i> Update
							</button>
							<button type="button" class="btn btn-danger"
								onclick="deleteForm()">
								<i class="fas fa-trash"></i> Delete
							</button>
							<button type="button" class="btn btn-secondary"
								onclick="resetForm()">
								<i class="fas fa-redo"></i> Reset
							</button>
						</div>
						<div class="card-header text-center">
							<button ng-click="pager.first()" class="btn btn-danger">
								<i class="fas fa-arrow-to-left"></i>
							</button>
							<button ng-click="pager.prev()" class="btn btn-primary">
								<i class="fas fa-arrow-left"></i>
							</button>
							<button class="btn btn-success">{{pager.page + 1}} of
								{{pager.count?pager.count:'1'}}</button>
							<button ng-click="pager.next()" class="btn btn-primary">
								<i class="fas fa-arrow-right"></i>
							</button>
							<button ng-click="pager.last()" class="btn btn-danger">
								<i class="fas fa-arrow-to-right"></i>
							</button>
						</div>
						<script src="/assetss/js/init.js"></script>
					</div>
				</div>

				<footer class="footer">
					Copyright © 2022 <b>Julie</b>. All rights reserved.
				</footer>
			</div>
		</div>
	</div>

	<script src="/assetss/js/jquery.min.js"></script>
	<script src="/assetss/js/popper.min.js"></script>
	<script src="/assetss/js/bootstrap.min.js"></script>
	<script src="/assetss/js/modernizr.min.js"></script>
	<script src="/assetss/js/detect.js"></script>
	<script src="/assetss/js/fastclick.js"></script>
	<script src="/assetss/js/jquery.slimscroll.js"></script>
	<script src="/assetss/js/jquery.blockUI.js"></script>
	<script src="/assetss/js/waves.js"></script>
	<script src="/assetss/js/jquery.nicescroll.js"></script>
	<script src="/assetss/js/jquery.scrollTo.min.js"></script>
	<script src="/assetss/js/sweetalert2.all.min.js"></script>
	<script src="/assetss/js/datatables.min.js"></script>
	<script src="/assetss/js/pdfmake.min.js"></script>
	<script src="/assetss/js/vfs_fonts.js"></script>
	<script src="/assetss/js/app.js"></script>
	<script src="/assetss/js/angular.min.js"></script>
	<script src="/assetss/js/angular-route.min.js"></script>
	<script src="/assetss/ctrl/account-ctrl.js"></script>
	<script src="/assetss/ctrl/admin-ctrl.js"></script>
	<script src="/assetss/ctrl/authority-ctrl.js"></script>
	<script src="/assetss/ctrl/blog-ctrl.js"></script>
	<script src="/assetss/ctrl/booking-ctrl.js"></script>
	<script src="/assetss/ctrl/bookingroom-ctrl.js"></script>
	<script src="/assetss/ctrl/feedback-ctrl.js"></script>
	<script src="/assetss/ctrl/hotel-ctrl.js"></script>
	<script src="/assetss/ctrl/hoteltype-ctrl.js"></script>
	<script src="/assetss/ctrl/images-ctrl.js"></script>
	<script src="/assetss/ctrl/imageshotel-ctrl.js"></script>
	<script src="/assetss/ctrl/imagesroom-ctrl.js"></script>
	<script src="/assetss/ctrl/payment-ctrl.js"></script>
	<script src="/assetss/ctrl/place-ctrl.js"></script>
	<script src="/assetss/ctrl/roles-ctrl.js"></script>
	<script src="/assetss/ctrl/room-ctrl.js"></script>
	<script src="/assetss/ctrl/roomtype-ctrl.js"></script>
	<script src="/assetss/ctrl/service-ctrl.js"></script>
	<script src="/assetss/ctrl/serviceroom-ctrl.js"></script>

	<script src="assets/js/main.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		function createForm() {
			window.location.href = '/serviceRooms/create';
		}

		function deleteForm() {
			var id = document.getElementById("id").value;
			window.location.href = '/serviceRooms/delete/' + id;
		}

		function resetForm() {
			window.location.href = '/serviceRooms/form';
		}
		/*]]>*/
	</script>
</body>

</html>